ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #424530;
}

li {
  float: right;
}

li a {
  display: block;
  color: #ffefcd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #a58e74;
}

div.logo {
  float: left;
  width: 19%;
  height: 45px;
  background-color: #424530;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.logo img{
  width: 40px;
  height: 40px;
  padding-right: 10px;
}

div.logo a {
  color: #e09132;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

div.logo:hover {
  background-color: #424530;
}

.active {
  background-color: #e09132;
}

div:hover {
  background-color: #ffefcd;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;

  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.services-dropdown {
  height: 210px;
}

.dropdown-content a {
  color: #424530;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main {
  display: grid;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.part {
  background-color: #ffefcd;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  height: 500px;
  width: 100%;
  border: 2px solid white;
}

.part.web-design{
  height: 900px;
}



.part h2 {
  margin: 0;
  color: #424530;
}

.part.recentworks {
  background-color: #ffefcd;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  height: 600px;
  width: 100%;
  border: 2px solid white;
}

.recentworks-images {
  display: flex; 
  justify-content: space-between; 
  gap: 10px; 
  height: 400px;
  width: auto;
}

button{
  padding: 12px 16px;
  margin-top: 50px;
  color: #424530;
  background-color: #a58e74;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.our-service {
  display: flex; 
  justify-content: space-between; 
}

.our-service .left {
  width: 32%;
}

.our-service .left h1{
  color:#e09132;
  padding-top: 40px;
}

.our-service .right {
  width: 68%;
  text-align: left;
  padding-left: 30%;
  padding-top: 10px;
}

.our-service .right h2{
  color:#e09132;
  text-align: left;
  padding-top: 40px;
}

.case-study {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 10px; 
  padding-left: 10%;
}

.case-study img {
  width: auto; 
  height: 400px; 
}

.part.content {
  color:#e09132;
  text-align: left;
  height: 200px;
}

.part.textbox{
  height: 300px;
}

.part.textbox h1{
  color: #e09132;
}

.part.textbox p{
  color:#424530;
  font-size: 20px;
  text-align: left;
}

.part.programming{
  height: 900px;
}

.part.programming .titles{
  height: 200px;
  font-size: 20px;
  color: #e09132;
  border-bottom: 2px solid #e09132;
  padding: 5px 0;
  width: 100%;
}

.part.programming .titles p{
  font-size: 25px;
  text-align: left;
}

.part.projects{
  height: 400px;
  display: flex; 
  justify-content: space-between;
}

.part.projects .left{
  width: 50%;
  border-right: 2px solid white;
}

.part.projects .left img{
  height: 350px;
}

.part.projects .right{
  width: 50%;
  text-align: left;
  padding-left: 2%;
}

.part.projects .right p{
  font-size: 25px;
  color: #424530;
}

.part.industry {
  height: 600px;
}

.part.industry .up img{
  height: 500px;
  width: 800px;
}

.part.industry .down p{
  font-size: 25px;
  color:#424530;
}

.part.design-tips {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 20px; 
  margin: 20px; 
  height: 1500px;
}

.part.design-tips .block {
  padding: 10px; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.part.design-tips .block .up img {
  width: auto; 
  height: 500px; 
  border-radius: 8px 8px 0 0; 
}

.part.design-tips .block .down {
  padding: 10px; 
  border-radius: 0 0 8px 8px; 
  text-align: center; 
}

.part.design-tips .block .down p{
  font-size: 25px;
  color: #424530;
}

.part.contect-us {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-gap: 20px; 
  margin: 20px; 
  height: 900px;
}

.part.contect-us .block {
  padding: 10px; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.block.form {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 50%;
}

.block.form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #424530;
}

.block.form form {
  display: flex;
  flex-direction: column;
}

.block.form label {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
  color: #424530;

}

.block.form input,
.block.form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.block.form button {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 50px;
  color: #424530;
  background-color: #a58e74;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.block.form button:hover {
  background-color: #d07f2b;
}

.part.contect-us .block.text {
  color: #424530;
}

.part.contect-us .block.text p{
  text-align: left;
  padding-left: 10%;
  font-size: 25px;
}

.part.history{
  height: 900px;
}

.history-images {
  display: flex; 
  justify-content: space-between; 
}

.history-images img {
  flex: 1; 
  margin: 5px; 
  max-width: 48%; 
  height: auto; 
  object-fit: contain; 
  border-radius: 8px; 
}

.part.history .content{
  color:#e09132;
  text-align: left;
  height: 200px;
}

.part.history .content p{
  color:#424530;
  font-size: 25px; 
}

.team-images {
  display: flex; 
  justify-content: space-between; 
}

.team-images .block .up{
  height: 350px;
}

.team-images img {
  flex: 1; 
  margin: 5px; 
  max-width: 48%; 
  height: 300;
  object-fit: contain; 
  border-radius: 8px; 
}

.team-images p{
  font-size: 25px;
  color:#424530;
  text-align: left;
  width: 80%;
}

.part.branding {
  height: 900px;
}